<a href="https://colab.research.google.com/github/gg910530/python0311/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [3]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [4]:
list1 = [21, 33, 14, 12, 32,98]

list1[1]
len(list1)
max(list1)
min(list1)
sum(list1)

210

In [5]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [6]:
-3%2

1

In [7]:
a = 7//2
b = 7.0//2
c = 7//2.0

a,b,c

(3, 3.0, 3.0)

In [8]:
5 ** 2

25

In [9]:
x = 5

print(x > 3 and x < 10)

True

In [10]:
x = 5

print(x > 3 or x < 4)

True

In [11]:
x = 5

print(not(x > 3 and x < 10))

False

In [12]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [13]:
x = bin(36)
x

x = oct(36)
x

x = hex(255)
x

'0xff'

In [14]:
x=int('10',2)
x

x=int('10',16)
x

x=int('10',8)
x

8

In [15]:
#Round a number to only two decimals:

x = round(5.76543, 2)
print(x)

# Round to the nearest integer:

x = round(5.76543)
print(x)

5.77
6

In [16]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1